@import 'reset-css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');

html {
  font-family: 'Kiwi Maru', serif;
}

:root {
  /* accessible */
  --accessible-color: #333;
  /* white */
  --white-color: #fff;
  /* light grey */
  --lightgrey-color: #eee;
  /* grey */
  --grey-color: #aaa;
  /* black */
  --black-color: #000;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


/* グラデーションはvarで指定できないからしゃあなしにクラス作成 */
.bg-primary {
  background: linear-gradient(84deg, #F5BBD4 0%, #FDF1D5 100%);
}

.bg-secondary {
  background: linear-gradient(84deg, #E773A0 0%, #B67ACC 49%, #94A8DC 100%);
}

.text-primary {
  color: transparent;
  background: linear-gradient(84deg, #F5BBD4 0%, #FDF1D5 100%);
  background-clip: text;
}

.text-secondary {
  color: transparent;
  background: linear-gradient(84deg, #E773A0 0%, #B67ACC 49%, #94A8DC 100%);
  background-clip: text;
}

.border-primary {
  border-image: linear-gradient(84deg, #F5BBD4 0%, #FDF1D5 100%);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 4px solid transparent;
    border-radius: 999px;
}

.border-secondary {
    background: linear-gradient(84deg, #E773A0 0%, #B67ACC 49%, #94A8DC 100%);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 4px solid transparent;
    border-radius: 999px;
}